app-slices {

    .ant-collapse-header {
        height: 67px;
    }

    .ant-page-header {
        padding-left: 0px;
        padding-right: 0px;
    }

    .ant-collapse-extra {
        align-self: center;
    }

    .header {
        margin-bottom: 10px;
    }

    .details {
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-items: start;
        align-items: center;
        column-gap: 16px;
    }

    .actions {
        text-align: end;
    }

    .actions-td {
        padding: 16px 0 16px 16px !important;
    }

    .id {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;

        .label {
            font-weight: 500;
            padding-right: 8px;
            flex-shrink: 0;
        }

        .value {
            user-select: all;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
            flex: 1;
        }

        .value:hover {
            text-decoration: underline dotted;
        }
    }

    .desc {
        font-size: 13px;
        font-style: italic;
        color: #777;
        margin: unset;
    }

    .scroll-container {
        position: relative;
        height: calc(calc(8 * 68px) + 1px);
        overflow-y: auto;
    }

    app-slice-lineage {
        margin-left: 10px;
    }

    .tagLink {
        font-size: 12px;
        color: #a9a9a9;

        &:hover {
            text-decoration: underline;
            color: #1890ff;
        }
    }

}
