<nz-page-header>
  <nz-page-header-title>Slices</nz-page-header-title>
  <nz-page-header-subtitle
    >Shape your own views over your data</nz-page-header-subtitle
  >
  <nz-page-header-extra>
    <button nz-button nzType="primary" [routerLink]="['./new']">
      Create Slice
    </button>
  </nz-page-header-extra>
</nz-page-header>

<ng-template #mainClusterTpl let-sliceName="dataName">
  <nz-space>
    <button
      nz-button
      nzType="dashed"
      (click)="editSlice($event, sliceName)"
      nz-tooltip
      nzTooltipTitle="Edit last revision"
      *nzSpaceItem
    >
      <nz-icon nzType="edit" /> Edit
    </button>
    <nz-space-compact nzSize="default" *nzSpaceItem>
      <button
        nz-button
        nzType="default"
        (click)="writeToSlice($event, sliceName)"
        nz-tooltip
        nzTooltipTitle="Changes"
      >
        <nz-icon nzType="history" />
      </button>
      <button
        nz-button
        nzType="default"
        (click)="querySlice($event, sliceName)"
      >
        <nz-icon nzType="code" />
        Query
      </button>
    </nz-space-compact>
  </nz-space>
</ng-template>

@if (slices.hasValue()) {
  <div class="header">
    <nz-input-wrapper nzAddonBefore="Filter" nzAllowClear>
      <input
        nz-input
        [(ngModel)]="filter"
        placeholder="Start typing..."
        nzSize="default"
      />
    </nz-input-wrapper>
  </div>
  <div class="scroll-container">
    <nz-collapse nzAccordion>
      @for (slice of filteredSlices(); track slice["@id"]) {
        @let dataName = slice["kss:name"];

        <ng-template #headerTpl>
          <div class="name">
            <span
              >{{ dataName }}
              @if (slice["kss:lineage"]; as lineage) {
                <app-slice-lineage [lineage]="lineage" />
                <a (click)="manageTags($event, dataName)" class="tagLink"
                  >(more ...)</a
                >
              }
            </span>
            <div nz-typography nzEllipsis class="desc">
              {{ slice["kss:description"] ?? "-" }}
            </div>
          </div>
        </ng-template>

        <!-- Instantiate the mainCluster template with the sliceName -->
        <ng-template #tpl>
          <ng-container
            *ngTemplateOutlet="mainClusterTpl; context: { dataName }"
          >
          </ng-container>
        </ng-template>

        <!-- <nz-list-item> -->
        <nz-collapse-panel [nzHeader]="headerTpl" [nzExtra]="tpl">
          <div class="details">
            <div class="id" nzEllipsis>
              <span class="label" nz-icon nzType="idcard"></span>
              <span
                class="value"
                (click)="copyText($event, slice['@id'])"
                nz-tooltip="copy id"
                >{{ slice["@id"] }}</span
              >
            </div>

            <button
              nz-button
              nzSize="small"
              nzType="default"
              nzDanger
              (click)="deleteSlice(dataName)"
            >
              <nz-icon nzType="delete" /> Delete slice
            </button>
            <nz-space>
              <button
                *nzSpaceItem
                nz-button
                nzType="default"
                nzSize="default"
                (click)="manageTags($event, dataName)"
              >
                <nz-icon nzType="tags"></nz-icon> Manage tags
              </button>
            </nz-space>
          </div>
        </nz-collapse-panel>
      } @empty {
        <div class="empty">
          <nz-empty
            nzNotFoundImage="simple"
            nzNotFoundContent="No slices found"
          />
        </div>
      }
    </nz-collapse>
  </div>
}
