:host {
    padding: 24px;
}

.ant-page-header {
    padding-left: 16px;
    padding-right: 0px;
}

.actions {
    text-align: end;
}

.name {
    padding: 0 16px !important;
}

.actions-td {
    padding: 16px 0 16px 16px !important;
}

.id {
    cursor: help;
}

.desc {
    font-size: 13px;
    font-style: italic;
    color: #777;
    margin: unset;
}

td {
    padding: 0 !important;
}

.click-to-copy {
    margin-left: 8px;
    color: #999;
    font-weight: normal;
}

.clicked {
    margin-left: 8px;
    font-weight: normal;
    color: #143049;
}
