<nz-page-header>
  <nz-page-header-title>Change history</nz-page-header-title>
  <nz-page-header-subtitle
    >Overview of changes to this pod</nz-page-header-subtitle
  >
  <nz-page-header-extra>
    <button nz-button nzType="primary" [routerLink]="['./new']">
      Create change
    </button>
  </nz-page-header-extra>
</nz-page-header>

@if (changes.hasValue()) {
  <nz-table #basicTable [nzData]="changes.value()!">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Slice</th>
        <th nzAlign="center">Inserts</th>
        <th nzAlign="center">Deletes</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      @for (data of basicTable.data; track data["@id"]) {
        <tr (click)="openChangeReport(data['@id'])">
          @let inserts = data["kss:nrOfInserts"] ?? 0;
          @let deletes = data["kss:nrOfDeletes"] ?? 0;
          <td>
            {{
              lastStatus(data)?.["kss:timestamp"]
                | date: "d MMM, yyyy @ hh:mm:ss"
            }}
          </td>
          <td>{{ data["kss:sliceId"] ?? "-" }}</td>
          <td [class.inserts]="inserts" nzAlign="center">
            {{ inserts | number: "1.0-0" }}
          </td>
          <td [class.deletes]="deletes" nzAlign="center">
            {{ deletes | number: "1.0-0" }}
          </td>
          <td>
            <small>{{ lastStatus(data)?.["kss:statusCode"] ?? "-" }}</small>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
}
