# Gradle
.gradle
**/build/
**/bin/
buildSrc/.gradle
buildSrc/build
cache

# Maven
.kotlin
**/target
.m2
.flattened-pom.xml

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# IntelliJ
.idea

# Ignore load testing results
load-tests/results

# Ignore Helmsman temporary directory
.helmsman-tmp
*.drawio.bkp

# Local Kind setup
kubernetes/.certs
kubernetes/.env

**/kls_database.db

# Ignore _openapi folder
_openapi

# Local folder
.local

# Ignore environment files in the compose directory
*.env

# API test local config and generated reports
api-tests/hurl.env
api-tests/report
api-tests/junit.xml

*.tgz
kubernetes/.kvasir.env
.worktrees
