.create-relationship-content {

    span[type=addon] {
        min-width: 110px;
    }

    span[type=prefix] {
        user-select: all;
        color: #888;
        font-family: consolas;
    }

    .ant-input {
        font-family: consolas;
    }

    .ant-input-group-addon:has(> .ant-select) {
        padding: 0;
    }
}
