:host {
    padding: 24px;
}

.ant-page-header {
    padding-left: 16px;
    padding-right: 0px;
}

tr {
    cursor: pointer;

    .inserts {
        color: rgb(0, 139, 0);
    }

    .deletes {
        color: crimson;
    }
}
