.ant-page-header {
    padding-left: 0px;
    padding-right: 0px;
}

nz-form-label {
    font-weight: bold;
}

textarea {
    font-family: Consolas, monospace;
    font-size: 13px;
}

nz-form-item {
    justify-content: space-between;
}

.editor {
    height: 500px;
    border: 1px solid rgb(217, 217, 217);
}
