.ant-page-header {
    padding-left: 0px;
    padding-right: 0px;
}

nz-form-label {
    font-weight: bold;
}

textarea {
    font-family: Consolas, monospace;
    font-size: 13px;
}

nz-form-item {
    justify-content: space-between;
}

nz-page-header-title {

    nz-tag {
        margin-left: 8px;
        font-weight: normal;
    }
}
