<div>
  <div class="description">
    <nz-icon nzType="exclamation-circle" nzTheme="outline" />
    <span>{{ error.description }}</span>
  </div>

  @if (error.error; as error) {
    <p class="message" nz-typography>{{ error }}</p>
  }

  @if (error.message; as message) {
    <p class="stack" nz-typography>{{ message }}</p>
  }
</div>

<div *nzModalFooter>
  <button
    nz-button
    nzType="default"
    (click)="copyError()"
    [disabled]="isCopyBtnDisabled"
  >
    {{ copyBtnTxt }}
  </button>
  <button nz-button nzType="primary" (click)="modal.close()">Close</button>
</div>
