:host {
    padding: 24px;
    width: 100%
}

.radio {
    float: right;
}

.header-row {
    margin-bottom: 16px;
}

.raw {
    font-size: 12px;
}

tr.clickable {
    cursor: pointer;
}

nz-table tr,
nz-table td {
    height: 39px !important;
}

.title {
    display: grid;
    grid-template-columns: 1fr auto;
}
