@if (isPending()) {
  @let pch = pendingChange()!;
  <nz-row class="header-row">
    <!-- <nz-space nzDirection="vertical"> -->
    <nz-col nzFlex="1">
      <nz-descriptions
        nzTitle="Pending Change Request"
        nzBordered
        [nzColumn]="2"
        nzSize="small"
      >
        <nz-descriptions-item nzTitle="Pending Change Request ID" [nzSpan]="2">
          {{ pch["@id"] }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Result Code">
          {{ pch["kss:statusCode"] }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Timestamp">
          {{ pch["kss:timestamp"] | date: "d MMM, yyyy @ hh:mm:ss" }}
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-col>
  </nz-row>
  <nz-row nzJustify="center">
    <nz-col>
      <button nz-button nzType="dashed" (click)="reload()" nzSize="large">
        <nz-icon nzType="reload"></nz-icon>
        Refresh
      </button>
    </nz-col>
  </nz-row>
} @else if (change.hasValue()) {
  @let ch = processedChange()!;
  <nz-row class="header-row">
    <!-- <nz-space nzDirection="vertical"> -->
    <nz-col nzFlex="1">
      <nz-descriptions
        nzTitle="Change Details"
        nzBordered
        [nzColumn]="2"
        nzSize="small"
      >
        <nz-descriptions-item nzTitle="Change Report ID" [nzSpan]="2">
          {{ ch["@id"] }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Original Request ID" [nzSpan]="2">
          {{ ch["kss:origRequestId"] }}
        </nz-descriptions-item>
        <nz-descriptions-item
          nzTitle="Pod ID"
          [nzSpan]="ch?.['kss:sliceId'] ? 1 : 2"
          >{{ ch["kss:podId"] }}
        </nz-descriptions-item>
        @if (ch["kss:sliceId"]; as sliceId) {
          <nz-descriptions-item nzTitle="Slice ID">
            {{ sliceId }}
            @if (ch["kss:sliceTag"]; as sliceTag) {
              <nz-tag
                [nzColor]="sliceTag == 'default' ? 'orange' : 'blue'"
                [style.margin-left]="'8px'"
                >{{ sliceTag }}</nz-tag
              >
            }
          </nz-descriptions-item>
        }
        <nz-descriptions-item nzTitle="Inserts">
          {{ ch?.["kss:nrOfInserts"] | number: "1.0-0" }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Deletes">
          {{ ch?.["kss:nrOfDeletes"] | number: "1.0-0" }}
        </nz-descriptions-item>
        @let statusCode = statusEntry()["kss:statusCode"];
        <nz-descriptions-item nzTitle="Result Code">
          <div nz-flex nzJustify="space-between">
            {{ statusCode }}
            <button
              nz-button
              nzType="default"
              (click)="openStatusCodeHistory()"
              nz-tooltip="Result code history"
            >
              <nz-icon nzType="history" />
            </button>
          </div>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Timestamp">
          {{ statusEntry()["kss:timestamp"] | date: "d MMM, yyyy @ hh:mm:ss" }}
        </nz-descriptions-item>
        @if (statusEntry()["kss:message"]; as msg) {
          <nz-descriptions-item [nzSpan]="2">
            {{ msg }}
          </nz-descriptions-item>
        }
      </nz-descriptions>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzFlex="1">
      <div class="title">
        <h3>Records</h3>
        <button nz-button nzType="dashed" (click)="reload()">
          <nz-icon nzType="reload"></nz-icon>
          Refresh
        </button>
      </div>
      <nz-table
        #virtualTable
        [nzVirtualItemSize]="39"
        [nzTotal]="
          (ch?.['kss:nrOfDeletes'] ?? 0) + (ch?.['kss:nrOfInserts'] ?? 0)
        "
        [nzShowPagination]="false"
        [nzPageSize]="10"
        [nzData]="records"
        [nzVirtualForTrackBy]="trackByIndex"
        [nzVirtualMinBufferPx]="500"
        [nzVirtualMaxBufferPx]="1000"
        [nzFrontPagination]="false"
        [nzScroll]="{ y: '500px' }"
        [nzSize]="'small'"
        [nzTableLayout]="'fixed'"
        [fetchLimit]="300"
        (fetchNextPage)="onFetchNextPage($event)"
        [nzNoResult]="noRecords"
        server-paged
      >
        <thead>
          <tr>
            <th nzWidth="60px">Sign</th>
            <th>Subject</th>
            <th>Predicate</th>
            <th>Object</th>
          </tr>
        </thead>
        <tbody>
          <ng-template nz-virtual-scroll let-data let-index="index">
            <tr>
              <td>{{ data.sign }}</td>
              <td>{{ data.subject.value }}</td>
              <td>{{ data.predicate.value }}</td>
              <td nzEllipsis>
                <nz-space>
                  @if (data.object.termType == "Literal") {
                    <app-literal-badge
                      *nzSpaceItem
                      [literal]="data.object"
                    ></app-literal-badge>
                  }
                  <span *nzSpaceItem>{{ data.object.value }}</span>
                </nz-space>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </nz-col>
  </nz-row>
}

<ng-template #noRecords>
  <nz-empty
    nzNotFoundImage="simple"
    nzNotFoundContent="No records were deleted or inserted as a result of this change request."
  ></nz-empty>
</ng-template>
