:host {
    padding: 24px;
}

.ant-page-header {
    padding-left: 16px;
    padding-right: 0px;
}

.ant-form {
    padding-left: 16px;
    padding-right: 16px;
}

nz-form-label {
    font-weight: bold;
}

textarea {
    font-family: Consolas, monospace;
    font-size: 13px;
}

nz-form-item {
    justify-content: space-between;
}

.editor {
    height: 390px;
    border: 1px solid rgb(217, 217, 217);
}

.field {
    height: 133px;
    border: 1px solid rgb(217, 217, 217);
}
