environments:
  default:
    values:
      - environments/default.yaml.gotmpl
  kind:
    values:
      - environments/default.yaml.gotmpl
      - tlsEnabled: true
      - proxy: "none"
  dev:
    values:
      - environments/default.yaml.gotmpl
---

helmDefaults:
  timeout: 1200
  createNamespace: true

repositories:
  - name: strimzi
    oci: true
    url: quay.io/strimzi-helm
  - name: bitnami
    oci: true
    url: registry-1.docker.io/bitnamicharts
  - name: traefik
    url: https://helm.traefik.io/traefik
  - name: clickhouse-operator
    url: https://docs.altinity.com/clickhouse-operator
  - name: postgres-operator-charts
    url: https://opensource.zalando.com/postgres-operator/charts/postgres-operator
  - name: openfga
    url: https://openfga.github.io/helm-charts
  - name: idlab-discover
    url: https://idlab-discover.github.io/charts/

releases:
  - name: traefik
    namespace: traefik
    labels:
      component: dependency
      app: traefik
    chart: traefik/traefik
    version: 35.1.0
    values:
      - dependencies/traefik/values.yaml
{{- if eq .Environment.Name "kind" }}
      - dependencies/traefik/kind-values.yaml.gotmpl
{{- end }}

  - name: kafka-operator
    namespace: kafka
    labels:
      component: operators
    chart: strimzi/strimzi-kafka-operator
    version: 0.45.0
    values:
      - dependencies/kafka/operator/values.yaml
  - name: kafka
    namespace: kafka
    labels:
      component: dependency
      state: "true"
    chart: ./dependencies/kafka/custom-resources
    needs: [ kafka-operator ]

  - name: clickhouse-operator
    namespace: clickhouse
    labels:
      component: operators
      app: clickhouse
    chart: clickhouse-operator/altinity-clickhouse-operator
    version: 0.24.5
    values:
      - dependencies/clickhouse/operator/values.yaml
  - name: clickhouse
    namespace: clickhouse
    labels:
      component: dependency
      app: clickhouse
      state: "true"
    chart: ./dependencies/clickhouse/custom-resources
    needs: [ clickhouse-operator ]

  - name: minio
    namespace: minio
    labels:
      component: dependency
      app: minio
      state: "true"
    chart: bitnami/minio
    version: 16.0.8
    values:
      - auth:
          rootPassword: {{ .StateValues.minioRootpassword }}

  - name: postgres-operator
    namespace: auth
    labels:
      component: operator
      app: postgresql
    chart: postgres-operator-charts/postgres-operator
    version: 1.14.0
    values:
      - dependencies/postgresql/operator/values.yaml
  - name: postgresql
    namespace: auth
    labels:
      component: dependency
      app: postgresql
      state: "true"
    chart: ./dependencies/postgresql/custom-resources
    needs: [ postgres-operator ]

  - name: keycloak
    namespace: auth
    labels:
        app: keycloak
        component: dependency
        state: "true"
    chart: bitnami/keycloak
    version: 24.7.7
    needs: [ postgresql ]
    values:
      - auth:
          adminUser: kcadmin
          adminPassword: {{ .StateValues.keycloakAdminPassword }}
      - dependencies/keycloak/values.yaml.gotmpl
{{- if eq .Environment.Name "kind" }}
      - production: false
{{- end }}
      - proxy: {{ .StateValues.proxy }}

  - name: openfga
    namespace: auth
    labels:
      component: dependency
      app: openfga
      state: "true"
    chart: openfga/openfga
    version: 0.2.38
    needs: [ postgresql ]
    values:
      - dependencies/openfga/values.yaml

  - name: kvasir
    namespace: kvasir
    needs:
      - traefik/traefik
      - auth/keycloak
      - auth/openfga
      - kafka/kafka
      - clickhouse/clickhouse
      - minio/minio
    labels:
      app: kvasir
      component: kvasir
    chart: ./kvasir
    values:
      - kvasir-values.yaml.gotmpl
      {{- if .StateValues.image.tag }}
      - global:
          image:
            registry: {{ .StateValues.image.registry }}
            tag: {{ .StateValues.image.tag }}
            pullPolicy: Always
      {{- end }}
