global:
  host: {{ .StateValues.kvasirHost }}
  ingressRoutes:
    matchHost: true
    tlsEnabled: {{ .StateValues.tlsEnabled }}
    proxy: {{ .StateValues.proxy }}
  {{- if eq .Environment.Name "kind" }}
    tls:
      secretName: kvasir-tls
  {{- end }}

  env:
    - name: KVASIR_BASE_URI
      value: "http{{ if .StateValues.tlsEnabled }}s{{ end }}://{{ .StateValues.kvasirHost }}/"

  deploymentStrategy:
    type: Recreate

  quarkus:
    httpPort: 8080
    metricsPort: 9000

  applicationYaml:
    quarkus:
      log:
        level: INFO
        category:
          "kvasir":
            level: DEBUG
            min-level: DEBUG
          "idlab.quarkus.ext.pep.openfga":
            level: DEBUG
            min-level: DEBUG

  {{- if eq .Environment.Name "kind" }}
  truststore:
    secretName: oidc-truststore-secret
  {{- end }}

  oidc:
    enabled: true
    authServerUrl: "http{{ if .StateValues.tlsEnabled }}s{{ end }}://{{ .StateValues.keycloakHost }}/realms/kvasir"
    clientId: "quarkus-app"
    clientSecret: "secret"
    realm: "kvasir"
    existingSecret: ""
    clientIdSecretKey: ""
    clientSecretSecretKey: ""
    realmSecretKey: ""
  keycloakAdmin:
    enabled: true
    username: "kcadmin" 
    password: {{ .StateValues.keycloakAdminPassword }}
    realm: "master"
    serverUrl: "http{{ if .StateValues.tlsEnabled }}s{{ end }}://{{ .StateValues.keycloakHost }}"
  openfga:
    url: "http://openfga.auth:8080"
    storeId: "kvasir"

  minio:
    host: "minio.minio.svc.cluster.local"
    port: "9000"
    skipTlsVerify: true
    useTls: false
    accessKey: "admin"
    secretKey: {{ .StateValues.minioRootpassword }}
    existingSecret: ""
    accessKeySecretKey: ""
    secretKeySecretKey: ""

  kafka:
    bootstrapServers: "kvasir-kafka-kafka-bootstrap.kafka.svc.cluster.local:9092"

  clickhouse:
    host: "clickhouse-clickhouse.clickhouse.svc.cluster.local"
    port: "8123"

"init-service":
  enabled: {{ .StateValues.initEnabled }}

"ui-service":
  enabled: true
