<nz-page-header
  nzTitle="Pod settings"
  nzSubtitle="Configure settings for your pod"
>
  <nz-page-header-extra>
    <button
      nz-button
      nzType="dashed"
      nz-tooltip="Show the pod config used at runtime"
      nzTooltipPlacement="left"
      (click)="previewRuntimeConfig()"
    >
      Runtime config
    </button>
  </nz-page-header-extra>
</nz-page-header>
@if (platformConfig.hasValue()) {
  @let pCfg = platformConfig.value()!;
  @if (settingsForm; as f) {
    @let lockStates = f.controls.lockStates.controls;
    @let podSettings = f.controls.podSettings.controls;
    <form [formGroup]="f" nz-form nzLayout="vertical">
      <ng-template #saveBtnTpl>
        <nz-space>
          <button
            *nzSpaceItem
            nz-button
            nzType="link"
            (click)="resetToPlatformDefaults()"
            nz-tooltip="Clear all custom pod settings to follow platform defaults"
          >
            Clear
          </button>
          <button
            *nzSpaceItem
            nz-button
            (click)="resetAll()"
            [disabled]="f.pristine"
            nz-tooltip="Reset pending unsaved changes"
          >
            Reset
          </button>
          <button
            *nzSpaceItem
            nz-button
            nzType="primary"
            (click)="saveAll()"
            [disabled]="isSaveDisabled()"
          >
            Save
          </button>
        </nz-space>
      </ng-template>
      <nz-tabs [nzTabBarExtraContent]="saveBtnTpl">
        <nz-tab nzTitle="General">
          <nz-row>
            <nz-col nzSpan="24">
              <nz-space class="title">
                <h5 nz-typography *nzSpaceItem>Default context</h5>
                <app-help
                  text="This is the default context applied for your whole pod. It
              allows you to remap prefixes to your liking."
                  *nzSpaceItem
                ></app-help>
              </nz-space>
              <app-default-state-lock
                [defaultState]="rtDefaultConfig"
                [formControl]="lockStates.defaultContext"
                label=""
                type="code-json"
              >
                <div class="default-context">
                  <nz-code-editor
                    class="editor"
                    [formControl]="podSettings.defaultContext"
                    [nzEditorOption]="settings.getCodeEditorSetting().json"
                  ></nz-code-editor>
                  <div class="error">
                    <span nz-typography nzType="danger">{{
                      defaultContextError()
                    }}</span>
                  </div>
                </div>
              </app-default-state-lock>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col nzSpan="24">
              <h5 nz-typography>Configuration flags</h5>
            </nz-col>
          </nz-row>
          <nz-form-item>
            <app-default-state-lock
              [defaultState]="pCfg['auto-ingest-rdf']"
              [formControl]="lockStates.autoIngestRDF"
              label="Auto-ingest RDF"
              type="switch"
            >
              <nz-form-control>
                <nz-space nzAlign="center" [nzSize]="16">
                  <nz-switch
                    *nzSpaceItem
                    [formControl]="podSettings.autoIngestRDF"
                  ></nz-switch>
                  <span *nzSpaceItem>Auto-ingest RDF</span>
                  <app-help
                    text="Automatically ingest RDF into the Changes API if the content of an S3 File Upload is an RDF MIME-type, thus adding it to the knowledge graph."
                    *nzSpaceItem
                  ></app-help>
                </nz-space>
              </nz-form-control>
            </app-default-state-lock>
          </nz-form-item>
        </nz-tab>

        <nz-tab nzTitle="Auth">
          <nz-form-item>
            <app-default-state-lock
              [defaultState]="pCfg.auth['enable-solid-web-id']"
              [formControl]="lockStates.enableSolidWebId"
              label="Enable Solid WebID"
              type="switch"
            >
              <nz-form-control>
                <nz-space nzAlign="center" [nzSize]="16">
                  <nz-switch
                    [formControl]="podSettings.enableSolidWebId"
                  ></nz-switch>
                  <span *nzSpaceItem>Enable Solid WebID</span>
                  <app-help
                    text="Enable WebID support for the pod (Solid-OIDC)"
                    *nzSpaceItem
                  ></app-help>
                </nz-space>
              </nz-form-control>
            </app-default-state-lock>
          </nz-form-item>
          <nz-form-item>
            <app-default-state-lock
              [defaultState]="pCfg.auth['require-dpop']"
              [formControl]="lockStates.requireDpop"
              label="Require DPoP"
              type="switch"
            >
              <nz-form-control>
                <nz-space nzAlign="center" [nzSize]="16">
                  <nz-switch
                    [formControl]="podSettings.requireDpop"
                  ></nz-switch>
                  <span *nzSpaceItem>Require DPoP</span>
                  <app-help
                    text="Require DPoP (Demonstrating Proof of Possession) tokens for requests to the Pod (!! This currently breaks the UI !!)"
                    *nzSpaceItem
                  ></app-help>
                </nz-space>
              </nz-form-control>
            </app-default-state-lock>
          </nz-form-item>
          <nz-form-item>
            <app-default-state-lock
              [defaultState]="pCfg.auth['skip-dpop-ath-check']"
              [formControl]="lockStates.skipDpopAthCheck"
              label="Skip DPoP ath check"
              type="switch"
            >
              <nz-form-control>
                <nz-space nzAlign="center" [nzSize]="16">
                  <nz-switch
                    [formControl]="podSettings.skipDpopAthCheck"
                  ></nz-switch>
                  <span *nzSpaceItem>Skip DPoP ath check</span>
                  <app-help
                    text="Skip DPoP ath claim checks (for compatibility with legacy DPoP clients, do not use in production)"
                    *nzSpaceItem
                  ></app-help>
                </nz-space>
              </nz-form-control>
            </app-default-state-lock>
          </nz-form-item>
        </nz-tab>

        <nz-tab nzTitle="OIDC">
          <app-default-state-lock
            [defaultState]="pCfg.auth.oidc"
            [formControl]="lockStates.enableOidc"
            label="Enable external OIDC"
            type="fieldset"
          >
            <fieldset>
              <legend>
                <nz-space nzAlign="center" [nzSize]="16">
                  <nz-switch
                    [formControl]="podSettings.enableOidc"
                    #enableOidc
                  ></nz-switch>
                  <span *nzSpaceItem>Enable external OIDC</span>
                  <app-help
                    text="Enable the use of an external OIDC server (disable to use the embedded Keycloak server)"
                    *nzSpaceItem
                  ></app-help>
                </nz-space>
              </legend>
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="oidcServerUrl">
                  <nz-space nzAlign="center" [nzSize]="16">
                    <span *nzSpaceItem>Server URL</span>
                    <app-help
                      text="The base OIDC server URL"
                      *nzSpaceItem
                    ></app-help>
                  </nz-space>
                </nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <input
                    nz-input
                    type="text"
                    id="oidcServerUrl"
                    [formControl]="podSettings.oidcServerUrl"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="oidcPrincipalExtractor">
                  <nz-space nzAlign="center" [nzSize]="16">
                    <span *nzSpaceItem>Principal extractor</span>
                    <app-help
                      text="Specify a custom class that extracts the principal from the JWT Token (full package and class name!)"
                      *nzSpaceItem
                    ></app-help>
                  </nz-space>
                </nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <input
                    type="text"
                    nz-input
                    id="oidcPrincipalExtractor"
                    [formControl]="podSettings.oidcPrincipalExtractor"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="validated">
                <nz-form-label [nzSpan]="6" nzFor="oidcExtractorConfig">
                  <nz-space nzAlign="center" [nzSize]="16">
                    <span *nzSpaceItem>Extractor config</span>
                    <app-help
                      text="A properties map (string => string) with properties used by the custom Extractor Class"
                      *nzSpaceItem
                    ></app-help>
                  </nz-space>
                </nz-form-label>
                <nz-form-control
                  [nzSpan]="18"
                  [class.disabled]="oidcDisabled()"
                >
                  <nz-code-editor
                    class="config-props"
                    [class.disabled]="oidcDisabled()"
                    id="oidcExtractorConfig"
                    [formControl]="podSettings.oidcExtractorConfig"
                    [nzEditorOption]="
                      oidcDisabled()
                        ? settings.getCodeEditorSetting().json_readonly
                        : settings.getCodeEditorSetting().json
                    "
                  ></nz-code-editor>
                </nz-form-control>
                <div
                  class="error"
                  [class.hide]="oidcDisabled()"
                  nz-col
                  nzOffset="6"
                >
                  <span nz-typography nzType="danger">{{
                    oidcExtractorConfigError()
                  }}</span>
                </div>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="oidcAllowedSkew">
                  <nz-space nzAlign="center" [nzSize]="16">
                    <span *nzSpaceItem>Allowed skew</span>
                    <app-help
                      text="How many seconds the timestamps may be out of sync to still be valid."
                      *nzSpaceItem
                    ></app-help>
                  </nz-space>
                </nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <nz-input-number
                    nzAddonAfter="seconds"
                    [nzMin]="0"
                    id="oidcAllowedSkew"
                    [formControl]="podSettings.oidcAllowedSkew"
                  />
                </nz-form-control>
              </nz-form-item>
            </fieldset>
          </app-default-state-lock>
        </nz-tab>

        <nz-tab nzTitle="UMA">
          <app-default-state-lock
            [defaultState]="pCfg.auth.uma"
            [formControl]="lockStates.enableUma"
            label="Enable UMA server"
            type="fieldset"
          >
            <fieldset>
              <legend>
                <nz-space nzAlign="center" [nzSize]="16">
                  <nz-switch [formControl]="podSettings.enableUma"></nz-switch>
                  <span *nzSpaceItem>Enable UMA server</span>
                  <app-help
                    text="Enable the use of a server following the UMA 2.0 specification"
                    *nzSpaceItem
                  ></app-help>
                </nz-space>
              </legend>
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="umaServerUrl">
                  <nz-space nzAlign="center" [nzSize]="16">
                    <span *nzSpaceItem>Server URL</span>
                    <app-help
                      text="The base UMA server URL"
                      *nzSpaceItem
                    ></app-help> </nz-space
                ></nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <input
                    nz-input
                    id="umaServerUrl"
                    type="text"
                    [formControl]="podSettings.umaServerUrl"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="umaPrincipalExtractor">
                  <nz-space nzAlign="center" [nzSize]="16">
                    <span *nzSpaceItem>Principal extractor</span>
                    <app-help
                      text="Specify a custom class that extracts the principal from the JWT Token (full package and class name!)"
                      *nzSpaceItem
                    ></app-help> </nz-space
                ></nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <input
                    nz-input
                    type="text"
                    id="umaPrincipalExtractor"
                    [formControl]="podSettings.umaPrincipalExtractor"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="validated">
                <nz-form-label [nzSpan]="6" nzFor="umaExtractorConfig">
                  <nz-space nzAlign="center" [nzSize]="16">
                    <span *nzSpaceItem>Extractor config</span>
                    <app-help
                      text="A properties map (string => string) with properties used by the custom Extractor Class"
                      *nzSpaceItem
                    ></app-help>
                  </nz-space>
                </nz-form-label>
                <nz-form-control [nzSpan]="18" [class.disabled]="umaDisabled()">
                  <nz-code-editor
                    class="config-props"
                    [class.disabled]="umaDisabled()"
                    [formControl]="podSettings.umaExtractorConfig"
                    id="umaExtractorConfig"
                    [nzEditorOption]="
                      umaDisabled()
                        ? settings.getCodeEditorSetting().json_readonly
                        : settings.getCodeEditorSetting().json
                    "
                  ></nz-code-editor>
                </nz-form-control>
                <div
                  class="error"
                  [class.hide]="umaDisabled()"
                  nz-col
                  nzOffset="6"
                >
                  <span nz-typography nzType="danger">{{
                    umaExtractorConfigError()
                  }}</span>
                </div>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="umaAllowedSkew">
                  <nz-space nzAlign="center" [nzSize]="16">
                    <span *nzSpaceItem>Allowed skew</span>
                    <app-help
                      text="How many seconds the timestamps may be out of sync to still be valid."
                      *nzSpaceItem
                    ></app-help>
                  </nz-space>
                </nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <nz-input-number
                    nzAddonAfter="seconds"
                    [nzMin]="0"
                    id="umaAllowedSkew"
                    [formControl]="podSettings.umaAllowedSkew"
                  />
                </nz-form-control>
              </nz-form-item>
            </fieldset>
          </app-default-state-lock>
        </nz-tab>

        <nz-tab nzTitle="HTTP Policy">
          <app-default-state-lock
            [defaultState]="pCfg.auth['http-endpoint-policy-enforcer']"
            [formControl]="lockStates.enableHttpPep"
            label="Http Endpoint Policy Enforcer"
            type="fieldset"
          >
            <fieldset>
              <legend>
                <nz-space nzAlign="center" [nzSize]="16">
                  <nz-switch
                    [formControl]="podSettings.enableHttpPep"
                  ></nz-switch>
                  <span *nzSpaceItem>Http Endpoint Policy Enforcer</span>
                  <app-help
                    text="Enable using an external HTTP Endpoint Policy Enforcer for the pod. This delegates policy decisions to an external service."
                    *nzSpaceItem
                  ></app-help>
                </nz-space>
              </legend>
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="httpPepUrl">
                  <nz-space nzAlign="center" [nzSize]="16">
                    <span *nzSpaceItem>Server URL</span>
                    <app-help
                      text="The external HTTP Endpoint Policy Enforcer URL"
                      *nzSpaceItem
                    ></app-help>
                  </nz-space>
                </nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <input
                    nz-input
                    type="text"
                    id="httpPepUrl"
                    [formControl]="podSettings.httpPepUrl"
                  />
                </nz-form-control>
              </nz-form-item>
              <fieldset>
                <legend>
                  <nz-space nzAlign="center" [nzSize]="16">
                    <nz-switch
                      [formControl]="podSettings.enableHttpPepBasicAuth"
                    ></nz-switch>
                    <span *nzSpaceItem>Basic auth</span>
                    <app-help
                      text="Enable Basic auth security on your Http Endpoint Policy Enforcer"
                      *nzSpaceItem
                    ></app-help>
                  </nz-space>
                </legend>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="httpPepBasicAuthUsername">
                    Username
                  </nz-form-label>
                  <nz-form-control [nzSpan]="18">
                    <input
                      nz-input
                      type="text"
                      id="httpPepBasicAuthUsername"
                      [formControl]="podSettings.httpPepBasicAuthUsername"
                    />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="httpPepBasicAuthPassword">
                    Password
                  </nz-form-label>
                  <nz-form-control [nzSpan]="18">
                    <input
                      nz-input
                      type="password"
                      id="httpPepBasicAuthPassword"
                      [formControl]="podSettings.httpPepBasicAuthPassword"
                    />
                  </nz-form-control>
                </nz-form-item>
              </fieldset>
              <fieldset>
                <legend>
                  <nz-space nzAlign="center" [nzSize]="16">
                    <nz-switch
                      [formControl]="podSettings.enableHttpPepApiKey"
                    ></nz-switch>
                    <span *nzSpaceItem>API key</span>
                    <app-help
                      text="Enable API Key security on your HTTP Endpoint Policy Enforcer"
                      *nzSpaceItem
                    ></app-help>
                  </nz-space>
                </legend>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="httpPepApiKeySendVia">
                    <nz-space nzAlign="center" [nzSize]="16">
                      <span *nzSpaceItem>Sent via</span>
                      <app-help
                        text="Look for the API key in either the headers or the querystring"
                        *nzSpaceItem
                      ></app-help>
                    </nz-space>
                  </nz-form-label>
                  <nz-form-control [nzSpan]="18">
                    <nz-radio-group
                      [formControl]="podSettings.httpPepApiKeySendVia"
                      id="httpPepApiKeySendVia"
                    >
                      <label nz-radio-button [nzValue]="0">Header</label>
                      <label nz-radio-button [nzValue]="1">Querystring</label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="httpPepApiKeyName">
                    {{ sentRadioGroup == 0 ? "Header name" : "Parameter name" }}
                  </nz-form-label>
                  <nz-form-control [nzSpan]="18">
                    <input
                      nz-input
                      id="httpPepApiKeyName"
                      type="text"
                      [formControl]="podSettings.httpPepApiKeyName"
                    />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="httpPepApiKeyValue">
                    {{
                      sentRadioGroup == 0 ? "Header value" : "Parameter value"
                    }}
                  </nz-form-label>
                  <nz-form-control [nzSpan]="18">
                    <input
                      nz-input
                      type="password"
                      id="httpPepApiKeyValue"
                      [formControl]="podSettings.httpPepApiKeyValue"
                    />
                  </nz-form-control>
                </nz-form-item>
              </fieldset>
            </fieldset>
          </app-default-state-lock>
        </nz-tab>
      </nz-tabs>
    </form>
  } @else {
    <span>Loading settings form...</span>
  }
}
