:host {
    padding: 24px;
}

.ant-page-header {
    padding: 16px;
}

form {
    padding: 0 16px;
}

.default-context {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 240px;
    row-gap: 8px;
    column-gap: 8px;

    span,
    nz-code-editor {
        grid-column: 1/3;
    }

    .error {
        grid-column: 1;
        color: red;
    }

    .btns {
        grid-column: 2;
        justify-self: end;
    }

    .editor {
        height: 100%;
        border: 1px solid rgb(217, 217, 217);
    }
}

.validated {
    .error {
        height: 22px;
        color: red;
        visibility: visible;

        &.hide {
            visibility: hidden;
        }
    }
}



fieldset {

    legend {
        width: fit-content;
        font-size: 14px;
        font-weight: 600;
        border: unset;
        margin: unset;
        color: unset;
    }

    border: 1px dashed #ccc;
    padding: 20px 25px;
    margin: 10px 0; // 0;
}

nz-form-item {
    margin-bottom: 8px;
}

.config-props {
    height: 120px;
    border: 1px solid rgb(217, 217, 217);

}

nz-code-editor {
    position: relative;
    overflow: hidden;
}


nz-code-editor.disabled::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: not-allowed;
    background-color: #dadada;
    mix-blend-mode: lighten;
}

nz-form-control {
    position: relative;
    overflow: hidden;
}

nz-form-control.disabled::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: not-allowed;
    opacity: 0.04;
    background-color: #000000;
}

fieldset>fieldset {
    margin-right: 0;
}
