<nz-page-header>
  <nz-page-header-title>New Slice</nz-page-header-title>
  <nz-page-header-subtitle>Create a new Slice</nz-page-header-subtitle>
</nz-page-header>

<form
  nz-form
  [nzLayout]="'vertical'"
  [formGroup]="inputForm"
  [nzAutoTips]="autoTips"
  (ngSubmit)="submitForm()"
>
  <nz-row>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>name</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row [nzGutter]="[20, 20]">
    <nz-col [nzXs]="24" [nzLg]="14">
      <nz-form-item>
        <nz-form-label>&#64;context</nz-form-label>
        <a (click)="resetContext()">(reset)</a>
        <nz-form-control [nzAutoTips]="autoTips">
          <nz-code-editor
            class="field"
            formControlName="context"
            [nzEditorOption]="settings.getCodeEditorSetting().json"
          ></nz-code-editor>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzXs]="24" [nzLg]="10">
      <nz-form-item>
        <nz-form-label>description</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="description" rows="6"></textarea>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>schema</nz-form-label>
        <nz-form-control>
          <nz-code-editor
            class="editor"
            formControlName="schema"
            [nzEditorOption]="settings.getCodeEditorSetting().graphql"
          ></nz-code-editor>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div class="buttons">
            <button
              type="button"
              nz-button
              nzType="primary"
              nzGhost
              (click)="preview()"
              nz-popover
              nzPopoverTitle="Preview SDL schema"
              nzPopoverContent="Preview the schema like it will be exposed by Kvasir (including generated types and arguments)."
              nzPopoverPlacement="topLeft"
            >
              Preview
            </button>
            <button type="button" nz-button nzType="link" (click)="reset()">
              Reset
            </button>
            <button
              nz-button
              type="submit"
              nzType="primary"
              [disabled]="inputForm.invalid"
            >
              Save
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>
