.ant-page-header {
    padding-left: 0px;
    padding-right: 0px;
}

nz-form-label {
    font-weight: bold;

    .info {
        padding-left: 8px;
        font-weight: normal;
        font-style: italic;
        color: #888;
        font-size: 12px;
    }
}

textarea {
    font-family: Consolas, monospace;
    font-size: 13px;
}

nz-form-item {
    justify-content: space-between;
}

.editor {
    height: 390px;
    border: 1px solid rgb(217, 217, 217);
}

.field {
    height: 133px;
    border: 1px solid rgb(217, 217, 217);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-items: start;
    column-gap: 8px;
}
