postgresql:
  enabled: false
externalDatabase:
  existingSecret: keycloak.pgauth.credentials.postgresql.acid.zalan.do
  existingSecretUserKey: username
  existingSecretPasswordKey: password
  host: pgauth.auth
  port: 5432
  database: keycloak

proxy: edge
production: true

ingress:
  enabled: true
  ingressClassName: traefik
  hostname: {{ .StateValues.keycloakHost }}
{{- if and (ne .StateValues.proxy "edge") .StateValues.tlsEnabled }}
  tls: true
  {{/* TLS certificates will be retrieved from a TLS secret with name: `{{- printf "%s-tls" (tpl .Values.ingress.hostname .) }}` */}}
  annotations:
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  secrets:
    - name: "trigger-usage-of-external-tls-secret"
{{- end }}

