@blue-base: #1890ff;
@purple-base: #722ed1;

.btns {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
}

.one {
    color: @purple-base;
}

.all {
    color: @blue-base;
}

.tags {
    padding: 10px 0;
    text-align: center;
}
