<nz-page-header>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/s3">
        <span nz-icon nzType="home"></span>
        <span>{{ podName }}</span>
      </a>
    </nz-breadcrumb-item>

    @let parts = breadCrumbPrefix()?.split("/");

    @for (part of parts; track $index) {
      <nz-breadcrumb-item>
        <a (click)="goToBreadcrumbIndex($index)">
          <span>{{ part }}</span>
        </a>
      </nz-breadcrumb-item>
    }
  </nz-breadcrumb>
  <nz-page-header-extra>
    <nz-space>
      <button *nzSpaceItem nz-button nzType="dashed" (click)="showModal()">
        Create prefix folder...
      </button>

      <button
        *nzSpaceItem
        nz-button
        nz-dropdown
        [nzDropdownMenu]="menu4"
        nzType="primary"
      >
        <span nz-icon nzType="upload"></span>
        Upload
        <span nz-icon nzType="down"></span>
      </button>
    </nz-space>

    <nz-dropdown-menu #menu4="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <nz-upload
            [nzShowUploadList]="false"
            [nzCustomRequest]="customRequestFn"
            (nzChange)="handleChange($event)"
          >
            Upload a file
          </nz-upload>
        </li>
        <li nz-menu-item>
          <nz-upload
            [nzShowUploadList]="false"
            [nzCustomRequest]="customRequestFn"
            (nzChange)="handleChange($event)"
            nzDirectory
          >
            Upload folder
          </nz-upload>
        </li>
      </ul>
    </nz-dropdown-menu>
  </nz-page-header-extra>
</nz-page-header>

<nz-modal
  [(nzVisible)]="prefixModalVisible"
  nzTitle="Create prefix folder..."
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <div>Please enter a prefix to create a virtual empty folder</div>
    <div>
      <nz-input-wrapper [nzAddonBefore]="prefix() || ''">
        <input type="text" nz-input [(ngModel)]="prefixInputValue" />
      </nz-input-wrapper>
    </div>
  </ng-container>
</nz-modal>

<nz-table #basicTable [nzData]="dataList.value()!" [nzNoResult]="emptyTpl">
  <thead>
    <tr>
      <th
        [nzSortDirections]="['ascend', 'descend']"
        [nzSortOrder]="'ascend'"
        [nzSortFn]="sortName"
      >
        Name
      </th>
      <th>Modified at</th>
      <th>Size</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data.Key) {
      @let name = unPrefix(data.Key!);
      @switch (data.type) {
        @case ("file") {
          <tr>
            <td class="file-type">
              <a (click)="downloadObject(data.Key!)">
                <nz-space>
                  <span
                    *nzSpaceItem
                    nz-icon
                    [nzType]="mapToIcon(data.Key!)"
                    nzTheme="outline"
                  ></span>
                  <span *nzSpaceItem>{{ name }}</span>
                </nz-space>
              </a>
            </td>
            <td>{{ data.LastModified | date }}</td>
            <td>{{ data.Size | number }} kB</td>
            <td nz-flex nzGap="8px">
              <button nz-button nzType="primary" nzGhost nzSize="small">
                <nz-icon
                  nzType="control"
                  nzTheme="outline"
                  (click)="createPolicyRule(data.Key!)"
                  nz-tooltip="create policy rule..."
                />
              </button>
              <button nz-button nzDanger nzSize="small">
                <nz-icon
                  nzType="delete"
                  nzTheme="outline"
                  (click)="deleteObject(data.Key!)"
                  nz-tooltip="delete"
                />
              </button>
            </td>
          </tr>
        }
        @case ("folder") {
          <tr>
            <td [colSpan]="3" class="folder-type">
              <a (click)="goToFolder(name)">
                <nz-space>
                  <span
                    *nzSpaceItem
                    nz-icon
                    nzType="folder"
                    nzTheme="outline"
                  ></span>
                  <span *nzSpaceItem>{{ name }}</span>
                </nz-space>
              </a>
            </td>
            <td>
              <button nz-button nzType="primary" nzGhost nzSize="small">
                <nz-icon
                  nzType="control"
                  nzTheme="outline"
                  (click)="createPolicyRule(name)"
                  nz-tooltip="create policy rule..."
                />
              </button>
            </td>
          </tr>
        }
      }
    }
  </tbody>
</nz-table>
<ng-template #emptyTpl>
  <nz-empty
    nzNotFoundContent="Empty folder"
    nzNotFoundImage="simple"
  ></nz-empty>
</ng-template>
