<nz-page-header nzTitle="Access control" nzSubtitle="Setup ReBAC for your pod">
  <nz-page-header-extra nz-space>
    <button
      nz-button
      nzType="primary"
      nzGhost
      (click)="checkPermission()"
      *nzSpaceItem
    >
      Check permission
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="createRelationship()"
      *nzSpaceItem
    >
      Create relationship
    </button>
  </nz-page-header-extra>
</nz-page-header>

@if (relationships.hasValue()) {
  <nz-table #basicTable [nzData]="relationships.value()!">
    <thead>
      <tr>
        <th>user</th>
        <th>relation</th>
        <th>resource</th>
        <th nzAlign="right">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      @for (data of basicTable.data; track $index) {
        <tr>
          <td><app-access-control-subject [relationship]="data" /></td>
          <td><app-access-control-relation [relationship]="data" /></td>
          <td><app-access-control-resource [relationship]="data" /></td>
          <td nzAlign="right">
            <button nz-button nzDanger nzSize="small" (click)="remove(data)">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
              <span>remove</span>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
}
